{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="container-fluid">
  <div class="row py-5 px-0" style='background:url("https://www.sanger.ac.uk/sites/default/files/campus4.jpg");background-attachment:fixed;'>
    <div class="col-md-4 text-white text-center mx-auto" style='background:rgba(0,0,0,0.5)'>
      <h3>{{ detail.name }}</h3>
      <p>{{detail.location}}</p>
      <h5>{{ detail.principal_name }}(Principal)</h5>
      <span><i class="fas fa-blender-phone text-white"></i>{{detail.contact_no}}</span>
      <h5><a class='btn btn-warning my-2' href="{% url "cbvapp:update" pk=detail.pk%}">Update Collage</a></h5>
    </div>
  </div>
  <div class="row bg-light">
    <div class="col-md-12">
      <h1 class='text-warning text-center my-3'>
      {% if detail.students.all %}
      Our Students
      {% else %}
      No Student yet
      {% endif %}
      </h1>
      <div class="card-deck">
        {% for student in detail.students.all %}
          <div class="card text-center">
            <div class="card-header">
              <img src="/media/{{student.pic}}" alt="No Picture" height=200 width=100% class='card-img-top'>
            </div>
            <div class="card-body">
              <div class="card-title">
                <h3>{{student.name}}</h3>
                <span>({{student.age}} yrs. old )</span>
              </div>
              <div class="card-text">
                <span class='my-2'><i class="fas fa-envelope-square"></i>{{student.email}}</span><br/>
                <span><i class="fas fa-phone-volume"></i>{{student.contact}}</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
